{{ define "history" -}}
<!DOCTYPE html>
<html lang="en">
{{ template "header" . -}}
<body>
<div class="pure-g">
  <div class="pure-u-1-2">
    <div class="l-box">
      <form class="pure-form" action="/stats/update" method="post">
      <fieldset>
      <table class="stats-table pure-table pure-table-bordered">
        <thead>
          <tr>
          {{ range .HistoryHeaders }}<th>{{.}}</th>{{ end }}<th>purge</th>
          </tr>
        </thead>
        <tbody>
          {{ range .History -}}
          <tr>
            {{ if .Runs -}}
            <td width="15%" rowspan="{{.Runs}}">{{.Params}}</td>
            {{ end -}}
            {{ range .Stats }}<td>{{.}}</td>{{ end -}}
            {{ if .Runs -}}            
            <td rowspan="{{.Runs}}">
              <input type="checkbox" name="r{{.Id}}" {{if .Enabled}}checked{{end}} onchange="this.form.submit()"><br>
              {{ if .Enabled }}<span style="color:{{.Color}};">&FilledSmallSquare;</span>{{ end -}}
            </td>
            {{ end -}}
          </tr>
          {{ end -}}          
        </tbody>
      </table>
      </fieldset>
      </form>
    </div>
  </div>
  <div class="pure-u-1-2">
    <div class="l-box">
    {{ $p := . -}}
    {{ range .Plots -}}
      <div class="img-box" style="width:{{$p.PlotWidth}}px;height:{{$p.PlotWidth}}px;">{{.}}</div>
    {{ end -}}
    </div>
  </div>
</div>
</body>
</html>
{{ end -}}