{{ define "menu" -}}
<div class="pure-g left-nav">
  <div class="pure-u-1-8 left-nav">
    <div class="pure-menu nav-menu left-nav">
      <span class="pure-menu-heading nav-heading">Deepthought2</span>
      <ul class="pure-menu-list">
        {{ range .Menu -}}
          <li class="pure-menu-item"><a class="pure-menu-link{{if .Selected}} menu-selected{{end}}" href="{{.Url}}">{{.Name}}</a></li>
        {{ end -}}
      </ul>
    </div>
  </div>
  <div class="pure-u-7-8">
    <div class="pure-g">
      <div class="pure-u-1 top-nav">
        <div class="pure-menu pure-menu-horizontal nav-menu top-nav">
          <ul class="pure-menu-list">
            <li class="menu-item pure-menu-item">{{.Heading}}</li>
            <li class="pure-menu-separator"></li>
            {{ range .Options -}}
              {{ if .Submit -}}
              <li class="pure-menu-item"><a class="pure-menu-link" href="javascript:document.xform.submit();">{{.Name}}</a></li>
              {{ else -}}
              <li class="pure-menu-item"><a class="pure-menu-link{{if .Selected}} menu-selected{{end}}" href="{{.Url}}">{{.Name}}</a></li>
              {{ end -}}
            {{ end -}}
          </ul>
        </div>
      </div>
    </div>  
{{ end -}}