{{ define "menu" -}}
<div class="pure-g left-nav">
  <div class="pure-u-1-8 left-nav">
    <div class="pure-menu nav-menu left-nav">
      <ul class="pure-menu-list">
        {{ range .Menu -}}
          {{ if .Url -}}
            <li class="pure-menu-item"><a class="pure-menu-link{{if .Selected}} menu-selected{{end}}" href="{{.Url}}">{{.Name}}</a></li>
          {{ else -}}
            <li class="pure-menu-heading nav-heading">{{.Name}}</li>
          {{ end -}}
        {{ end -}}
      </ul>
    </div>
  </div>
  <div class="pure-u-7-8 root-container">
    <div class="pure-g head-container">
      <div class="pure-u-1 top-nav">
        <div class="pure-menu pure-menu-horizontal nav-menu top-nav">
          <ul class="pure-menu-list">
            <li class="menu-item pure-menu-item">{{.Heading}}</li>
            <li class="pure-menu-separator"></li>
            {{ range .Options -}}
              {{ if .Submit -}}
              <li class="pure-menu-item"><a class="pure-menu-link" href="javascript:document.xform.submit();">{{.Name}}</a></li>
              {{ else -}}
              <li class="pure-menu-item"><a class="pure-menu-link{{if .Selected}} menu-selected{{end}}" href="{{.Url}}">{{.Name}}</a></li>
              {{ end -}}
            {{ end -}}
            {{ if .Dropdown -}}
            <li class="pure-menu-separator"></li>
            <select class="model-select" id="dropdown" form="loadPage" onchange="gotoSelected('dropdown')">
              {{ range .Dropdown -}}
              <option value="{{.Url}}" {{if .Selected}}selected{{end}}>{{.Name}}</option>
              {{ end -}}
            </select>
            {{ end -}}
          </ul>
        </div>
      </div>
    </div>  
{{ end -}}