{{ define "net" -}}
<!DOCTYPE html>
<html lang="en">
{{ template "header" . -}}
<body>
<div class="pure-g">
  <div class="pure-u-1">
    <table class="image-table">
    <tbody>
      {{ range .Layers -}}
      <tr>
        <td>
          <table class="image-table2">
            <tr><td colspan="{{.Cols}}">{{.Desc}}</td></tr>
            <tr>
              {{ $l := . -}}
              {{ range .Image -}}
              <td width="{{$l.Width}}%">
                <img class="{{$l.Class}}" src="{{.}}">
                {{ if $l.Values -}}
                  <table class="image-table3">
                    <tr>{{ range $l.Values -}}<td width="{{$l.CellWidth}}%">{{.}}</td>{{ end -}}</tr>
                  </table>
                {{ end -}}
              </td>
              {{ end -}}
              <td width="{{.PadWidth}}%"></td>
            </tr>
          </table>
        </td>
      </tr>
      {{ end -}}
    </tbody>
    </table>
  </div>
</div>
</body>
</html>
{{ end -}}