{{ define "net" -}}
<!DOCTYPE html>
<html lang="en">
{{ template "header" . -}}
<body>
<div class="pure-g">
  <div class="pure-u-1">
    <table class="image-table">
    <tbody>
      {{ if eq .Page "outputs" -}}
      <tr>
        <td width="40%">
           {{ $l := .Input -}}
           <table class="image-table2">
            <tr>
              <td colspan="{{$l.Cols}}">{{$l.Desc}}</td>
            </tr>
            <tr>
              {{ range $l.Image -}}
              <td width="{{$l.Width}}%">
                <img class="{{$l.Class}}" src="{{.}}">
              </td>
              {{ end -}}
              <td width="{{$l.PadWidth}}%"></td>
            </tr>
          </table>         
        </td>
        <td width="60%">
          {{ $l := .Output -}}
          <table class="image-table2">
            <tr>
              <td colspan="{{$l.Cols}}">{{$l.Desc}}</td>
            </tr>
            <tr>
              {{ range $l.Image -}}
              <td width="{{$l.Width}}%">
                <img class="{{$l.Class}}" src="{{.}}">
                {{ if $l.Values -}}
                  <table class="image-table3">
                    <tr>{{ range $l.Values -}}<td width="{{$l.CellWidth}}%">{{.}}</td>{{ end -}}</tr>
                  </table>
                {{ end -}}
              </td>
              {{ end -}}
              <td width="{{$l.PadWidth}}%"></td>
            </tr>
          </table>
        </td>       
      </tr>
      {{ end -}}
      {{ $p := . -}}
      {{ range .Layers -}}
      <tr>
        <td colspan="{{$p.Columns}}" width="100%">
          {{ $l := . -}}
          <table class="image-table2">
            <tr>
              <td colspan="{{.Cols}}">{{.Desc}}</td>
            </tr>
            <tr>
              {{ range .Image -}}
              <td width="{{$l.Width}}%">
                <img class="{{$l.Class}}" src="{{.}}">
              </td>
              {{ end -}}
              <td width="{{.PadWidth}}%"></td>
            </tr>
          </table>
        </td>
      </tr>
      {{ end -}}
    </tbody>
    </table>
  </div>
</div>
</body>
</html>
{{ end -}}