{{ define "stats" -}}
<!DOCTYPE html>
<html lang="en">
{{ template "header" . -}}
<body>
<div class="pure-g">
  <div class="pure-u-1-2">
    <div class="l-box">
      <table class="stats-table pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>epoch</th>{{ range .StatsHeaders }}<th>{{.}}</th>{{ end -}}<th>time</th>
          </tr>
        </thead>
        <tbody>
          {{ range $s := .LatestStats 20 -}}
          <tr>
            <td>{{$s.Epoch}}</td>{{ range $s.Format }}<td>{{.}}</td>{{ end -}}<td>{{$s.FormatElapsed}}</td>
          </tr>
          {{ end -}}
        </tbody>
      </table>
    </div>
    {{ if .OptionSelected "history" -}}
    <div class="l-box">
      <form class="pure-form" action="/stats/update" method="post">
      <fieldset>
      <table class="stats-table pure-table pure-table-bordered">
        <thead>
          <tr>
          {{ range .HistoryHeaders }}<th>{{.}}</th>{{ end }}<th colspan="2">runs</th>
          </tr>
        </thead>
        <tbody>
          {{ range $h := .History -}}
          <tr>
            <td width="15%">{{$h.Params}}</td>
            {{ range $h.Stats }}<td>{{.}}</td>{{ end -}}
            <td>{{.Runs}}</td>
            <td>
              <input type="checkbox" name="r{{.Id}}" {{if .Enabled}}checked{{end}} onchange="this.form.submit()">
              {{ if .Enabled }}<br><span style="color:{{$h.Color}};">&FilledSmallSquare;</span>{{ end -}}
            </td>
          </tr>
          {{ end -}}          
        </tbody>
      </table>
      </fieldset>
      </form>
    </div>
    {{ end -}}
  </div>
  <div class="pure-u-1-2">
    {{ $p := . -}}
    {{ range .Plots -}}
      <div class="img-box" style="width:{{$p.PlotWidth}}px;height:{{$p.PlotHeight}}px;">{{.}}</div>
    {{ end -}} 
  </div>
</div>
</body>
</html>
{{ end -}}