{{ define "stats" -}}
<!DOCTYPE html>
<html lang="en">
{{ template "header" . -}}
<body>
<div class="pure-g">
  <div class="pure-u-1-2">
    <div class="l-box">
      <table class="stats-table pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>epoch</th>{{ range .StatsHeaders }}<th>{{.}}</th>{{ end -}}
          </tr>
        </thead>
        <tbody>
          {{ range $s := .LatestStats 10 -}}
          <tr>
            <td>{{$s.Epoch}}</td>{{ range $s.Format }}<td>{{.}}</td>{{ end -}}
          </tr>
          {{ end -}}
        </tbody>
      </table>
    </div>
    {{ if .OptionSelected "history" -}}
    <div class="l-box">
      <table class="stats-table pure-table pure-table-bordered">
        <thead>
          <tr>
          {{ range .HistoryHeaders }}<th>{{.}}</th>{{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range $h := .History -}}
          <tr>
            <td width="15%">{{$h.Params}}</td>
            {{ range $h.Stats }}<td>{{.}}</td>{{ end -}}
            <td>{{.Runs}} <span style="color:{{$h.Color}};">&FilledSmallSquare;</span></td>
          </tr>
          {{ end -}}          
        </tbody>
      </table>
    </div>
    {{ end -}}
  </div>
  <div class="pure-u-1-2">
    {{ if .OptionSelected "loss" -}}
      <div class="img-box">{{ .LossPlot 450 300 }}</div>
    {{ end -}} 
    {{ if .OptionSelected "errors" -}}
      <div class="img-box">{{ .ErrorPlot 450 300 }}</div>
    {{ end -}}
    {{ if .OptionSelected "history" -}}
      <div class="img-box">{{ .HistoryPlot 450 400 }}</div>
    {{ end -}}
  </div>
</div>
</body>
</html>
{{ end -}}