body, html { 
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0;
}

.root-container {
  display: table;
  empty-cells: show; 
  border-collapse: collapse; 
  height: 100%;
}

.head-container {
  display: table-row;
  overflow: auto;
}

.body-container {
  display: table-row;
  height: 100%; 
  overflow: hidden 
}

.body-container iframe {
  width: 100%; 
  height: 100%; 
  border: none; 
  margin: 0; 
  padding: 0; 
  display: block;
}

.left-nav {
  height: 100%;
}

.top-nav {
  width: 100%;
  min-height: 32px;
}

.menu-selected {
  background: #0000D0;
}

.menu-item {
  text-align: center;
  padding: 0 1em;
}

.nav-heading {
  color: white;
  background-color: black;
}

.nav-menu {
  background: #000070;
  color: white;
}

.nav-menu a {
  color: white;
}

.nav-menu li a:hover,
.nav-menu li a:focus {
  background: blue;
}

.l-box {
  padding: 1em;
  font-size: 0.875em;
}

.img-box {
  float: right;
  padding: 1em
}

.model-select {
  background: #0000C0;
}

.stats-table td,
.stats-table th {
  font-size: 0.875em;
  vertical-align: top;
}

.image-table {
  border-collapse: collapse;
  border: 1px solid #cbcbcb;
  width: 100%;
}

.image-table td {
  padding: 5px;
  border: 1px solid #cbcbcb;
}

.image-table2 {
  border-collapse: collapse;
  border: 0;
  width: 100%;
}

.image-table2 td {
  font-size: 0.875em;
  padding: 0;
  border: 0;
}

.image-table3 {
  border-collapse: collapse;
  border: 0;
  width: 100%;
}

.image-table3 td {
  font-size: 1em;
  padding: 0;
  border: 0;
  text-align: center;
}

.h-center {
  margin: 0 auto;
}

.digit-image {
  position: relative;
  width: 100%;
}

.digit-label-left {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 0.875em;
}

.digit-label-right {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 0.875em;
}

.error-text {
  color: red;
  font-weight: bold;
}

.read-only input[readonly] {
  color: black;
  background-color: white;
}

img.pixels {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}