body, html {
  width: 100%; 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

.body-container {
  width: 100%;
  height: 100%; 
}

.body-container iframe {
  width: 100%; 
  height: 100%; 
  border: none; 
  margin: 0; 
  padding: 0; 
  display: block;
}

.left-nav {
  height: 100%;
}

.top-nav {
  width: 100%;
}

.menu-selected {
  background: blue;
}

.menu-item {
  text-align: center;
  padding: 0 1em;
}

.nav-heading {
  color: white;
}

.nav-menu {
  background: #000080;
  color: white;
}

.nav-menu a {
  color: white;
}

.nav-menu li a:hover,
.nav-menu li a:focus {
  background: blue;
}

.l-box {
  padding: 1em;
  font-size: 0.875em;
}

.model-select {
  background: blue;
}

.stats-table td,
.stats-table th {
  font-size: 0.875em;
}

.h-center {
  margin: 0 auto;
}

.digit-image {
  position: relative;
  width: 100%;
}

.digit-label-left {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 0.875em;
}

.digit-label-right {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 0.875em;
}

.error-text {
  color: red;
}
